@import "tailwindcss";

@theme inline {
  --color-primary: #A182F9;
  --color-primary-light: #DDD2FA;
  --color-accent: #FFB347;
  --color-muted: #6B7280;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);

  --font-sans: var(--font-inter);
  --font-heading: var(--font-poppins);
}

:root {
  --background: #FFFFFF;
  --foreground: #111827;
  --card: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #F9FAFB;
    --card: #1F2937;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

/* Base animations */
.fade-in {
  animation: fadeIn 250ms ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}